<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="utf-8">
    <title>{% block title %}Upload Packages{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/packages">Packages</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/restart">Restart</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>