{% extends 'base.html' %}

{% block content %}
    <h1>File List</h1>

    <form>
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for file_name in file_names %}
            <li>{{ file_name }}
                <form action="{% url 'file_view' %}" method="post" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="hidden" name="file_name" value="{{ file_name }}">
                    <button type="submit" class="btn btn-primary">View</button>
                </form>                
                <form action="{% url 'download_file' %}" method="post" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="hidden" name="file_name" value="{{ file_name }}">
                    <button type="submit" class="btn btn-primary">Download</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
